:root {
  --color-primary: #f788ad;
  --color-primary-light: #ffd3d6;
  --color-secondary: #4cc2c1;
  --color-yellow: #f9cd46;
  --color-purple: #cda4eb;
  --color-mauve: #f4d8ff;
  --color-neutral-dark-grey: #505050;
  --color-neutral-light-grey: #e2e2e2;

  --font-primary: "Dosis", sans-serif;
  --font-secondary: "Lato", sans-serif;
}

html {
  font-family: var(--font-primary);
}
