.navbar {
  overflow: hidden;
  background-color: var(--color-purple);
  padding: 0px 80px;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--color-secondary);
}


.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 30px 62px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
