/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: var(--color-purple);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--color-secondary);
}


.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 62px;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
