.carousel-items > div {
  display: none;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%;
}

#dinosaurs-control:checked ~ .carousel-inner #dinosaurs,
#unicorn-control:checked ~ .carousel-inner #unicorn,
#shark-control:checked ~ .carousel-inner #shark,
#fruits-control:checked ~ .carousel-inner #fruits {
  display: block;
  background-color: #fff;
}
