---
layout: defaults
---

<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Products</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Lato" rel="stylesheet">
</head>
<body>
  {% pattern header/header %}
  {% pattern navigations/secondary-nav %}
  {{content}}
  <h1>{{page.name}}</h1>
  <p>{{page.description}}</p>
  <img src="{{page.image}}" alt="">
  {% pattern footer/footer %}
</body>
</html>
